<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="@Url.Content("~/css/style.css")" asp-append-version="true" />

    <title>@ViewData["Title"]</title>
</head>
<body class="min-h-[100vh] flex flex-col">
    <div id="blackBg" class="bg-black opacity-[80%] w-screen h-screen fixed hidden z-[100]"></div>
    <div id="searchBg" class="bg-background-nav h-screen fixed hidden z-[100] p-3 space-y-5">
        <div class="flex space-x-4">
            <figure>
                <img class="rounded-lg w-[80px] h-[120px] object-cover" src="~/imgs/banner/1.jpg" alt="Alternate Text" />
            </figure>

            <div>
                <h1 class="text-white font-bold">A Origem</h1>
                <h2 class="text-zinc-300">2012</h2>
                <h2 class="text-zinc-300">Carlos Villagron</h2>
            </div>
        </div>

        <div class="flex space-x-4">
            <figure>
                <img class="rounded-lg w-[80px] h-[120px] object-cover" src="~/imgs/banner/1.jpg" alt="Alternate Text" />
            </figure>

            <div>
                <h1 class="text-white font-bold">A Origem</h1>
                <h2 class="text-zinc-300">2012</h2>
                <h2 class="text-zinc-300">Carlos Villagron</h2>
            </div>
        </div>
    </div>

    <header class="bg-background-nav justify-center flex self-center w-full z-[100]">
        <div id="wrapperHeader" class="flex space-x-1 py-5 justify-between px-3 text-secondary w-full md:justify-between md:max-w-[820px] 2xl:max-w-[1024px]">
            <a class="flex shrink-0 items-center cursor-pointer" href="/">
                <img draggable="false" src="~/imgs/icons/logo.svg" alt="IMDB Logo" />
            </a>

            <div class="relative self-center">
                <input id="searchBar" class="rounded-lg px-5 py-1.5 bg-secondary text-white focus:outline-none sm:w-[300px] md:w-[450px] lg:w-[200px] 2xl:w-[400px]" placeholder="Pesquisar no IMDb" />
                <span id="searchIcon" class="material-symbols-outlined absolute right-3 top-1.5 bottom-1.5 text-white"> search </span>
            </div>

            <div class="hidden lg:flex items-center text-white">
                <nav>
                    <ul class="flex space-x-4">
                        <li class="cursor-pointer">
                            <a>Filmes</a>
                        </li>
                        <li class="cursor-pointer">
                            <a>Séries</a>
                        </li>
                        <li class="cursor-pointer">
                            <a>Celebridades</a>
                        </li>
                        <li class="cursor-pointer">
                            <a>Assistir</a>
                        </li>
                        <li class="cursor-pointer">
                            <a>Prêmios</a>
                        </li>
                        <li class="cursor-pointer">
                            <a>Comunidade</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <span id="menuSpan" class="material-symbols-outlined text-[30px] cursor-pointer text-white hover:bg-zinc-800 rounded-[20px] p-2 transition duration-200 ease-in-out lg:hidden"> menu </span>

            <div id="mobileMenu" class="bg-menu-mobile hidden fixed right-0 top-0 w-[300px] h-screen p-5 z-[101] sm:w-[250px]">
                <span id="menuSpanClose" class="material-symbols-outlined text-[30px] cursor-pointer text-white rounded-[20px] p-2 hover:bg-zinc-700 transition duration-200 ease-in-out ml-[-8px] mb-5"> close </span>

                <nav>
                    <ul class="flex flex-col space-y-5 text-nowrap">
                        <li>
                            <a class="flex items-center space-x-3 cursor-pointer hover:text-white transition duration-200 ease-in-out">
                                <span class="material-symbols-outlined material-symbols-filled text-[30px]"> theaters </span>
                                <p class="text-white">Filmes</p>
                            </a>
                        </li>

                        <li>
                            <a class="flex items-center space-x-3 cursor-pointer hover:text-white transition duration-200 ease-in-out">
                                <span class="material-symbols-outlined text-[30px]"> tv </span>
                                <p class="text-white">Séries</p>
                            </a>
                        </li>

                        <li>
                            <a class="flex items-center space-x-3 cursor-pointer hover:text-white transition duration-200 ease-in-out">
                                <span class="material-symbols-outlined material-symbols-filled text-[30px]"> video_library </span>
                                <p class="text-white">Assistir</p>
                            </a>
                        </li>

                        <li>
                            <a class="flex items-center space-x-3 cursor-pointer hover:text-white transition duration-200 ease-in-out">
                                <span class="material-symbols-outlined material-symbols-filled text-[30px]"> stars </span>
                                <p class="text-white">Prêmios</p>
                            </a>
                        </li>

                        <li>
                            <a class="flex items-center space-x-3 cursor-pointer hover:text-white transition duration-200 ease-in-out">
                                <span class="material-symbols-outlined material-symbols-filled text-[30px]"> group </span>
                                <p class="text-white">Celebridades</p>
                            </a>
                        </li>

                        <li>
                            <a class="flex items-center space-x-3 cursor-pointer hover:text-white transition duration-200 ease-in-out">
                                <span class="material-symbols-outlined material-symbols-filled text-[30px]"> globe </span>
                                <p class="text-white">Comunidade</p>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    @RenderBody()

    <script type="module" src="@Url.Content("~/js/geral.js")"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
