@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.material-symbols-filled {
    font-variation-settings: "FILL" 1;
}

.bg-background-nav {
    background-color: #080808;
}

.bg-secondary {
    background-color: #1a1a1a;
}

.bg-menu-mobile {
    background-color: #1f1f1f;
}

.text-secondary {
    color: #797979;
}
