@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-background-nav {
    background-color: #080808;
}

.bg-secondary {
    background-color: #1a1a1a;
}

.bg-menu-mobile {
    background-color: #1f1f1f;
}

.text-secondary {
    color: #797979;
}
